definitions:
  dto.UserLoginInput:
    properties:
      password:
        description: 密码
        example: "123456"
        type: string
      username:
        description: 用户名
        example: admin
        type: string
    required:
    - password
    - username
    type: object
  dto.UserLoginOutput:
    properties:
      token:
        description: 管理员用户名
        example: admin
        type: string
    type: object
  middleware.Response:
    properties:
      data: {}
      errmsg:
        type: string
      errno:
        type: integer
    type: object
info:
  contact: {}
paths:
  /user_login/login:
    post:
      consumes:
      - application/json
      description: 用户登录
      operationId: /user_login/login
      parameters:
      - description: body
        in: body
        name: polygon
        required: true
        schema:
          $ref: '#/definitions/dto.UserLoginInput'
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/middleware.Response'
            - properties:
                data:
                  $ref: '#/definitions/dto.UserLoginOutput'
              type: object
      summary: 用户登录
      tags:
      - 用户接口
  /user_login/logout:
    get:
      consumes:
      - application/json
      description: 用户退出登录
      operationId: /user_login/logout
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/middleware.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 用户退出
      tags:
      - 用户接口
swagger: "2.0"
